@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --sombra-letra: #ae00ff;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
    background-color: rgb(0, 0, 0);
}

header {
    background-color: #000000;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #ae00ff;
    font-weight: 600;
}

.inicio-fundo {
    background-image: url('img/Loading.jpg');
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--sombra-letra);
    border-radius: 30px;
    border: none;
    width: 14em;
    /* Convertido para em aumenta o tamanho da fonte por tabela*/
    height: 3em;
    /* Convertido para em */
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--sombra-letra);
}


#RalphBaer {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/Ralph Baer.jpg') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;    
}

#RalphBaer .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#MagnavoxOdissey {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/Magnavox\ Odissey.png') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;
}

#MagnavoxOdissey .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#Primeirojogo {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/PrimeirosJogos.png') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;
}

#Primeirojogo .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#PS2 {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/NewPS2.png') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;
}

#PS2 .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#Zelda {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/Zelda\ OOT.png') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;
}

#Zelda .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#Nintendo {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/Nintendo.png') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;    
}

#Nintendo .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#Sony {
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/Sony\ Playstation.png') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;    
}

#Sony .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
#TeC{
    position: relative;
    padding-top: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    background-image: url('img/Xbox\ Playstation\ Nintendo.jpg') top right no-repeat,
        url('img/') bottom left no-repeat;
    background-size: 180px 180px;    
}

#Tec .container{
    color: rgb(191, 244, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--sombra-letra);
}

#galeria {
    background-color: #000000;

}

.fundo-galeria {
    background: url('img/') bottom right no-repeat;
    background-size: 180px 180px;
}

#evo {
position: relative;
right: 00px;
}

#VS{
position: relative;
left: 225px;
}

#contato {
    background-image: url('img/Controle fundo.jpeg');
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #ae00ff;
    border: none;
    font-weight: bold;
}

/* chama classe do bootstrap para modificar a cor */
.form-control {
    background-color: #F1EDEF;
}